# --- Java / Spring Boot (Backend) ---
inventory-control-backend/target/
inventory-control-backend/.gradle/
inventory-control-backend/build/
*.class

# --- React / Node (Frontend) ---
inventory-control-frontend/node_modules/
inventory-control-frontend/build/
inventory-control-frontend/.cache/
inventory-control-frontend/.env.local

# --- IDEs e Sistema ---
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db